* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Mabry Pro";
  background-color: #ffd94d;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  white-space: pre-wrap;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-intro {
  width: 100%;
  height: 100vh;
  background-color: #ffd94d;
  position: absolute;
  z-index: 1000000;
  color: #fff;
  display: flex;
  flex-direction: column; /* 수직 방향으로 배치 */
  align-items: center;
  justify-content: center; /* 전체 높이 기준으로 중앙 정렬 */
}

.image-wrapper {
  position: relative;
  width: 50%; /* 부모 요소의 50% */
  height: 50%;
  overflow: hidden;
}

.responsive-image {
  object-fit: contain; /* 부모 안에서 이미지 비율 유지 */
}

.hero {
  width: 100vw;
  height: 100vh;
}
.hero .img {
  /* object-fit: contain;/ */
}

.footer {
  height: 50vh;
  align-items: flex-start;
}

.footer a {
  font-size: 4vw;
  color: #fff;
}

.main {
  width: 100vw;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  position: relative;
  width: 100vw;
  padding: 4em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.card {
  position: relative;
  width: 40%;
  height: 360px;
  border-radius: 0.75em;
  overflow: hidden;
  will-change: transform;
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
  border-radius: 100%;
  overflow: hidden;
  /* transform: scale(0); */
  background-color: #fff;
}

.copy {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  position: relative;
  margin: 0.5em 0;
  width: max-content;
  height: 28px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.line p {
  position: relative;
  font-size: 24px;
  transform: translateY(30px);
}

button {
  position: relative;
  padding: 1em 2em;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 8em;
  background: none;
  outline: none;
  transform: translateY(30px);
  opacity: 0;
}

@media (max-width: 900px) {
  .card {
    width: 50%;
    height: 240px;
  }
}

/* 텍스트 스타일 */
.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

/* 색상 클래스 */
.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.text-brown {
  color: brown;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

/* 배경 색상 클래스 */
.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-brown {
  background-color: brown;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

/* 추가 유틸리티 */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
